In [1]:
# preprocess Links

In [74]:
import spacy

nlp = spacy.load('en_core_web_sm')

In [140]:
import requests
from bs4 import BeautifulSoup

def get_clean_data(url):
    try :
        content = requests.get(url)
        content = content.text
        
    except:
        content = ''
        
    bs = BeautifulSoup(content,'html.parser')
    texts = bs.findAll(['title','p','strong','li',re.compile('^h[1-6]$')])
    return texts

In [136]:
import re
def remove_tags(content):
    cleanr = re.compile('<.*?>')
    cleantext = re.sub(cleanr, '', content)
    
    return cleantext

In [137]:
def remove_punctuation(content):
    content = re.sub("_", "", content)
    content = re.sub("[^\w\s]", "", content)
    content = re.sub(' +', ' ', content)

    return content

In [78]:
data = get_clean_data('https://www.toolshero.com/toolsheroes/elon-musk/')
print(remove_punctuation(remove_tags(str(data))))

Elon Musk biography quotes publications and books toolshero Follow us Facebook Twitter Instagram YouTube Pinterest More Toolkit Change Management
Communication Skills
Creativity
Decision Making
Financial Management
Human Resources HR
Information Technology IT
Innovation
Leadership
Management
Marketing
Personal Development
Project Management
Problem Solving
Psychology
Quality Management
Strategy
Toolsheroes

 Change Management Communication Skills Creativity Decision Making Financial Management Human Resources HR Information Technology IT Innovation Leadership Management Marketing Personal Development Project Management Problem Solving Psychology Quality Management Strategy Toolsheroes Templates Find Jobs Find Courses Find Tests More Menu Search Elon Musk Elon Musk is a CanadianAmerican entrepreneur He is the founder of SpaceX Tesla and Zip2 among others He was also one of the people responsible for the success of PayPal
Currently he serves as CEO and Chief Designer CDO of SpaceX CEO and product architect of Tesla and chair of SolarCity Elon Musk Biography Elon Musk Elon Musk was born in Pretoria SouthAfrica on 28 June 1971 Hes the son of a Canadian model Maye Musk and a SouthAfrican electromechanical engineer Errol Musk His parents divorced in 1980 after which Musk lived with his father When he was 10 years old he discovered the Commodore VIC20 He taught himself to programme and sold a video game coded in BASIC two years later BASIC is an imperative programming language that was originally intended to help people learn programming very quickly The game was called Blastar and he sold it to PC and Office Technology magazine for 500 dollars soon after As a child Musk attended the independent Waterkloof House Preparatory School He did his final exams at Pretoria Boys High School and moved to Canada in June of 1989 He then became a Canadian citizen through his Canadian mother In 1989 Musk was admitted to Queens University in Kingston Ontario In 1992 after two years at Queens University Musk left for the University of Pennsylvania where he earned his Bachelor of Science degree in Physics from Penns College of Arts and Sciences and his Bachelor of Arts degree in Economics from the Wharton School of the University of Pennsylvania Musk continued for another year to get his second bachelor During his studies at the University of Pennsylvania Musk and fellow student Adeo Ressi bought a student house to use as a nightclub In 1995 at the age of 24 Musk moved to California to get his PhD in physics from Stanford University but left the university after just two days to start his own businesses in the fields of Internet sustainable energy and space He became an American citizen in 2002 When hes just twelve years old hes already a better programmer than his teachers At 24 he gives up his studies at Stanford University to start his first business Four years later that business is worth 300 million dollars and is bought by Compaq In 2002 eBay buys one of his other businesses PayPal for the considerable sum of 15 billion dollars He invests his considerable fortune in SpaceX 2002 Tesla Motors 2004 and SolarCity 2006 Zip2 Musk and his brother Kimbal founded Zip2 in 1995 an internet company They did so with investments from a group of business angels One of the things the company developed was an online city guide for newspapers Musk approached The New York Times and the Chicago Tribune During his time at Zip2 Elon wanted to become CEO of the company but none of Zip2s board members agreed Compaq bought Zip2 for 307 million American dollars of which 7 went to Musk amounting to 22 million dollars Xcom and PayPal In March of 1999 Musk founded Xcom an online payment platform He invested 10 million in it A year later the company merged with Confinity which had its own payment platform named PayPal The merged company focused on the services PayPal already had and continued under that name in 2001 PayPals early growth was driven by a promotion that offered money to new customers if they signed up PayPal was acquired by eBay in October of 2002 for oneandahalf billion dollars 165 million of that sum went to Musk Before the takeover Musk had been the largest shareholder with 117 of PayPals shares SpaceX In 2001 Musk came up with the concept Mars Oasis a project to have a small experimental greenhouse with food crops land on Mars to generate public interest in space exploration In October of 2001 Musk Jim Cantrell and Adeo Ressi travelled to Moscow to purchase old ICBMs that could shoot things into space Elon Musk quotes When something is important enough you do it even if the odds are not in your favor If you get up in the morning and think the future is going to be better it is a bright day Otherwise its not There have to be reasons that you get up in the morning and you want to live Why do you want to live Whats the point What inspires you What do you love about the future If the future does not include being out there among the stars and being a multiplanet species I find that incredibly depressing When Henry Ford made cheap reliable cars people said Nah whats wrong with a horse That was a huge bet he made and it worked Persistence is very important You should not give up unless you are forced to give up Its OK to have your eggs in one basket as long as you control what happens to that basket Failure is an option here If things are not failing you are not innovating enough Brand is just a perception and perception will match reality over time Sometimes it will be ahead other times it will be behind But brand is simply a collective impression some have about a product Starting and growing a business is as much about the innovation drive and determination of the people who do it as it is about the product they sell Were going to make it happen As God is my bloody witness Im hellbent on making it work The first step is to establish that something is possible then probability will occur People work better when they know what the goal is and why It is important that people look forward to coming to work in the morning and enjoy working I could either watch it happen or be a part of it Publications and Books by Elon Musk 2018 Making life multiplanetary New Space 61 211 2017 Making humans a multiplanetary species New Space 52 4661 2006 The secret Tesla Motors master plan just between you and me blog August 2 2001 US Patent No 6185194 Washington DC US Patent and Trademark Office 1999 US Patent No 5944769 Washington DC US Patent and Trademark Office How to cite this article
Sari J 2019 Elon Musk Retrieved insert date from ToolsHero httpswwwtoolsherocomtoolsheroeselonmusk How to cite this article Add a link to this page on your website
lta hrefhttpswwwtoolsherocomtoolsheroeselonmuskgtToolsHerocom Elon Musk ltagt Add a link to this page on your website Did you find this article interesting
Your rating is more than welcome or share this article via Social media




 Elon Musk 435 5 17 votesYou need to enable JavaScript to vote
 Did you find this article interesting 0 SharesShare Tweet Pin it Share Email More Tagged Jessie Sari Jessie Sari is a content writer at ToolsHero Jessie studies Trade Management in Asia at the Hogeschool van Rotterdam As part of her education she focuses on building fundamental skills including marketing importing and exporting products and services in Asia economy finance management consultancy and project management Related Stories Warren Buffett Amy Cuddy Henry Ford Richard Branson Bill Gates Tony Robbins 1 comment Laffaz says October 13 2019 at 113 pm Great articleReply Great article Leave a Reply Cancel reply Your email address will not be published Required fields are marked Comment Name Email Website


Current email protected



Leave this field empty

 RECEIVE OUR NEWSLETTER Stay up to date with the latest management theories and methods WE ARE TOOLSHERO We are toolshero and we present and promote simplified scientific theories and methods to everybody whos interested worldwide We believe that by sharing knowledge we help visitors build legacy stimulate research and provide innovators a platform POPULAR TOPICS Change Management Leadership Marketing Management Problem Solving ABOUT TOOLSHERO About toolshero Mission and vision ToolsHero facts Become an author Useful links RECEIVE NEWS FREE TOOLSHERO TEMPLATE In addition to our newsletter you will receive our free Business Model You template to get started with your personal development
No thanks

In [92]:
def convert_to_vector(content,vocabulary):
    vector_dict = dict.fromkeys(vocabulary,0)
    doc = nlp(content)

    for token in doc:
        if token.text.lower() in vector_dict:
            vector_dict[token.text.lower()] += 1
    
    return vector_dict.values()

In [93]:
def create_vocabulary(list_of_queries):
    vocabulary = set()
    for query in list_of_queries:
        words = query.lower().split()
        vocabulary.update(words)
    
    return vocabulary

In [82]:
import pandas as pd

In [86]:
vocab = create_vocabulary(list(set(pd.read_csv('Queries.csv')['Query'])))

In [87]:
vocab

{'11/20/2019',
 'a',
 'abraham',
 'aj',
 'ali',
 'bee',
 'bill',
 'by',
 'celtics',
 'crowe',
 'elon',
 "gandhi's",
 'gettysburg',
 'gladiator',
 'goodell',
 "green's",
 'health',
 'inauguration',
 'jfk',
 'like',
 'lincoln',
 'mohammad',
 'musk',
 'obama',
 'on',
 'president',
 'quotes',
 'race',
 'roger',
 'russell',
 'simmons',
 'space',
 'sting',
 'truth',
 'views'}

In [280]:
pd.read_csv('Queries.csv')

,Query,URL,Ranking
0,Abraham Lincoln Gettysburg,http://www.abrahamlincolnonline.org/lincoln/sp...,1
1,Abraham Lincoln Gettysburg,https://www.history.com/topics/american-civil-...,4
2,Abraham Lincoln Gettysburg,https://rmc.library.cornell.edu/gettysburg/goo...,4
3,Abraham Lincoln Gettysburg,https://www.historynet.com/gettysburg-address-...,3
4,Abraham Lincoln Gettysburg,https://www.independent.co.uk/news/world/ameri...,4
...,...,...,...
190,quotes by Elon Musk,https://www.brainyquote.com/authors/elon-musk-...,4
191,quotes by Elon Musk,https://www.amazon.com/Elon-Musk-Entrepreneur-...,2
192,quotes by Elon Musk,https://highexistence.com/50-elon-musk-quotes/,4
193,quotes by Elon Musk,https://www.youthkiawaaz.com/2019/08/some-quot...,3
194,quotes by Elon Musk,https://www.goodreads.com/author/quotes/722123...,4

In [293]:
def make_data_frame(document, vocab):
    """
    Converts data into a pandas data frame with bag of words features instead of just a text feature.
    -----
    | Id , text, label| -> |Id, token_0 ... token_n , Label|
    """
    temp_df = []
    
    for _, row in document.iterrows():
        query = row['Query']
        url = row['URL']
        rank = row['Ranking']
        
        text = (remove_punctuation(remove_tags(str(get_clean_data(url)))))
        row = [query, url] + list(convert_to_vector(text, vocab)) +[rank]
        temp_df.append(row)
    
    df = pd.DataFrame(temp_df, columns=['Query', 'Url'] + list(vocab) +['Human Rank'])
    return df

In [294]:
doc =pd.read_csv('Queries.csv')[['Query','URL','Ranking']]

In [295]:
doc

,Query,URL,Ranking
0,Abraham Lincoln Gettysburg,http://www.abrahamlincolnonline.org/lincoln/sp...,1
1,Abraham Lincoln Gettysburg,https://www.history.com/topics/american-civil-...,4
2,Abraham Lincoln Gettysburg,https://rmc.library.cornell.edu/gettysburg/goo...,4
3,Abraham Lincoln Gettysburg,https://www.historynet.com/gettysburg-address-...,3
4,Abraham Lincoln Gettysburg,https://www.independent.co.uk/news/world/ameri...,4
...,...,...,...
190,quotes by Elon Musk,https://www.brainyquote.com/authors/elon-musk-...,4
191,quotes by Elon Musk,https://www.amazon.com/Elon-Musk-Entrepreneur-...,2
192,quotes by Elon Musk,https://highexistence.com/50-elon-musk-quotes/,4
193,quotes by Elon Musk,https://www.youthkiawaaz.com/2019/08/some-quot...,3
194,quotes by Elon Musk,https://www.goodreads.com/author/quotes/722123...,4

In [296]:
vocab_df = make_data_frame(doc[:3], vocab)

In [297]:
vocab_df.head()

,Query,Url,aj,russell,views,musk,health,jfk,inauguration,on,...,like,a,celtics,11/20/2019,simmons,bee,goodell,gandhi's,crowe,Human Rank
0,Abraham Lincoln Gettysburg,http://www.abrahamlincolnonline.org/lincoln/sp...,0,0,0,0,0,0,0,129,...,0,521,0,0,0,0,0,0,0,1
1,Abraham Lincoln Gettysburg,https://www.history.com/topics/american-civil-...,0,0,0,0,0,0,0,15,...,0,28,0,0,0,0,0,0,0,4
2,Abraham Lincoln Gettysburg,https://rmc.library.cornell.edu/gettysburg/goo...,0,0,0,0,0,0,0,4,...,0,8,0,0,0,0,0,0,0,4

In [169]:
vocab_df.iloc[-1]

Query           Abraham Lincoln Gettysburg
aj                                       0
russell                                  0
views                                    0
musk                                     0
health                                   0
jfk                                      0
inauguration                             0
on                                       4
elon                                     0
abraham                                  0
gettysburg                               3
race                                     0
space                                    0
by                                       1
obama                                    0
truth                                    0
quotes                                   0
mohammad                                 0
green's                                  0
lincoln                                  1
president                                1
sting                                    0
roger                                    0
bill                                     0
gladiator                                0
ali                                      0
like                                     0
a                                        8
celtics                                  0
11/20/2019                               0
simmons                                  0
bee                                      0
goodell                                  0
gandhi's                                 0
crowe                                    0
Name: 1, dtype: object

In [301]:
import numpy as np
def get_liklihood_score(row, D):
    tot = 0
    for term in row['Query'].lower().split():
#         print(row.keys())
        tot += np.log((row[term] + 1) /(D+ len(row.keys())-1))
    return tot

In [302]:
vocab_df['score'] = [get_liklihood_score(row,len(vocab_df)) for ind, row in vocab_df.iterrows()]

In [303]:
list(vocab_df.sort_values(by=['score'], ascending=False)['score'])

[4.7577796787965205, -3.0569430045988875, -8.987196820661973]

In [304]:
vocab_df['score'].quantile(0.8)

1.631890605438358

In [305]:
def score_fix(row):
    score = row['score']
    if vocab_df['score'].quantile(.2) > score:
        return 0
    elif vocab_df['score'].quantile(.4) > score:
        return 1
    elif vocab_df['score'].quantile(.6) > score:
        return 2
    elif vocab_df['score'].quantile(.8) > score:
        return 3
    else:
        return 4

In [306]:
vocab_df["fitted_score"]=vocab_df.apply(score_fix, axis=1)

In [307]:
vocab_df.head()

,Query,Url,aj,russell,views,musk,health,jfk,inauguration,on,...,celtics,11/20/2019,simmons,bee,goodell,gandhi's,crowe,Human Rank,score,fitted_score
0,Abraham Lincoln Gettysburg,http://www.abrahamlincolnonline.org/lincoln/sp...,0,0,0,0,0,0,0,129,...,0,0,0,0,0,0,0,1,4.757780,4
1,Abraham Lincoln Gettysburg,https://www.history.com/topics/american-civil-...,0,0,0,0,0,0,0,15,...,0,0,0,0,0,0,0,4,-3.056943,2
2,Abraham Lincoln Gettysburg,https://rmc.library.cornell.edu/gettysburg/goo...,0,0,0,0,0,0,0,4,...,0,0,0,0,0,0,0,4,-8.987197,0

In [308]:
vocab_df[vocab_df['Query'] == 'Abraham Lincoln Gettysburg'].sort_values(by=['score'], ascending=False)

,Query,Url,aj,russell,views,musk,health,jfk,inauguration,on,...,celtics,11/20/2019,simmons,bee,goodell,gandhi's,crowe,Human Rank,score,fitted_score
0,Abraham Lincoln Gettysburg,http://www.abrahamlincolnonline.org/lincoln/sp...,0,0,0,0,0,0,0,129,...,0,0,0,0,0,0,0,1,4.757780,4
1,Abraham Lincoln Gettysburg,https://www.history.com/topics/american-civil-...,0,0,0,0,0,0,0,15,...,0,0,0,0,0,0,0,4,-3.056943,2
2,Abraham Lincoln Gettysburg,https://rmc.library.cornell.edu/gettysburg/goo...,0,0,0,0,0,0,0,4,...,0,0,0,0,0,0,0,4,-8.987197,0